# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: push-task

on:
  push:
    branches: [ TaskService ]

jobs:
  build:
    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres:11
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      minio:
        image: bitnami/minio:latest
        env:
          MINIO_ACCESS_KEY: ${{ secrets.MINIO_USER }}
          MINIO_SECRET_KEY: ${{ secrets.MINIO_PASSWORD }}
        ports:
          - 9000:9000
        options: --name minio-server

    runs-on: ubuntu-latest
    env:
      ## add secret on settings-secret-add new secret e.g name=POSTGRES_PASSWORD value=mypassword
      server_database__password: ${{ secrets.POSTGRES_PASSWORD }}
      server_database__database: ${{ secrets.POSTGRES_DB }}
      server_database__host: '0.0.0.0'
      server_minio__accesskey: ${{ secrets.MINIO_USER }}
      server_minio__secretkey: ${{ secrets.MINIO_PASSWORD }}
      server_minio__endPoint: '0.0.0.0'
      server_server__port___task: 7002
      server_server__port___worker: 7001
    defaults:
      run:
        working-directory: ./tugas
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14
      uses: actions/setup-node@v1
      with:
        node-version: 14
    - name: Cache node modules
      uses: actions/cache@v2
      env:
        cache-name: cache-node-modules
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: Run Install Dependencies
      run: npm install
    - name: Run Test Linter
      run: npm run lint
    - name: Run Integration Test
      run: npm run test:tasks
